{% load get_user %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
    <title>GameVerse</title>
</head>

<body>
<div id="wrapper">
    <header>
        <nav>
            <div>
                <a id="logo" href="{% url 'index' %}">GameVerse</a>
            </div>

            {% get_user as profile %}
            {% if profile %}
                <div class="user">
                    <a href="{% url 'games' %}">Games</a>
                    <a href="{% url 'create-game' %}">New Game</a>
                    <a href="{% url 'player-details' %}">Player's Profile</a>
                </div>
            {% else %}
                <div class="guest">
                    <a href="{% url 'create-player' %}">New Player</a>
                </div>
            {% endif %}
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</div>

<footer>
    <p>&copy;GameVerse by SoftUni Team. All rights reserved.</p>
</footer>
</body>

</html>