<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <title>GameVerse</title>
</head>

<body>
    <div id="wrapper">
        <header>
            <!-- Navigation -->
            <nav>
                <!-- A link to Index/Home page -->
                <div>
                    <a id="logo" href="#">GameVerse</a>
                </div>

                <!-- If there is a player's profile -->
                <div class="user">
                    <a href="#">Games</a>
                    <a href="#">New Game</a>
                    <a href="#">Player's Profile</a>
                </div>

                <!-- If the player's profile has NOT been created -->
                <div class="guest">
                    <a href="#">New Player</a>
                </div>
            </nav>
        </header>

        <main>
            <!-- Home page -->
            <section id="home">
                <h1>One Platform. Infinite Worlds.</h1>
                <img src="/static/images/hero-img.png" alt="hero image" />
            </section>
        </main>

    </div>

    <!-- Footer -->
    <footer>
        <p>&copy;GameVerse by SoftUni Team. All rights reserved.</p>
    </footer>
</body>

</html>