{% extends 'common/base.html' %}

{% load static %}
{% block content %}

    <main>
        <section id="details">
            <div id="details-wrapper">

                <h2>{{ player.nickname }}</h2>

                {% if player.is_pro %}
                    <img id="details-img" src="{% static 'images/player-pro.png' %}" alt="profile-pro img"/>
                {% else %}
                    <img id="details-img" src="{% static 'images/player-regular.png' %}" alt="profile regular img"/>
                {% endif %}

                <p id="extra-data"><span>Email: </span>{{ player.email }}</p>

                {% if player.achievements %}
                    <p id="extra-data"><span>Achievements: </span>{{ player.achievements }}</p>
                {% endif %}

                <div id="info-wrapper">
                    <div id="details-description">
                        {% if top_games %}
                            <p><span>Player's Top Games:</span></p>
                            <ul>
                                {% for game in top_games %}
                                    <li>
                                        Challenge level {{ game.level }}: {{ game.title }} ({{ game.platform }}),
                                        released on {{ game.release_date }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div id="action-buttons">
                        <a href="{% url 'edit-player' %}" id="edit-btn">Edit</a>
                        <a href="{% url 'delete-player' %}" id="delete-btn">Delete</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}