{% extends 'common/base.html' %}

{% load static %}
{% block content %}

    <main>
        <!-- Game Details -->
        <section id="details">
            <div id="details-wrapper">
                <h2>Game Details</h2>

                <!-- game screenshot image if there is such, otherwise display the default one '/images/game-default.png' -->
                <img src="https://cdn.pixabay.com/photo/2018/08/26/08/16/mario-3631666_1280.png"
                     alt="Super Mario img"/>

                <!-- game title -->
                <p id="details-title">
                    Super Mario
                </p>

                <div id="info-wrapper">
                    <div id="details-description">

                        <!-- game release date in format "d M Y" -->
                        <p class="description">
                            <span>Release date: </span>05 May 2008
                        </p>

                        <!-- game challenge level -->
                        <p class="description">
                            <span>Challenge level: </span>3
                        </p>

                        <!-- game platform -->
                        <p>
                            <span>Platform: </span>PC Games
                        </p>
                    </div>

                    <!--Edit and Delete buttons -->
                    <div id="action-buttons">
                        <a href="#" id="edit-btn">Edit</a>
                        <a href="#" id="delete-btn">Delete</a>
                    </div>
                </div>

            </div>
        </section>
    </main>

{% endblock %}