{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Title</title>
</head>
<body>

{#  #}
{#    <form>#}
{#        <input name='my_text' type='text'/>  {# http://localhost:8000/?my_text=sisi #}
{#        <button>Submit</button>#}
{#    </form>#}

{#    <form method="post">#}
{#        {% csrf_token %}                     {# http://localhost:8000/ #}
{#        <input name='my_text' type='text'/>  {# QueryDict: {'crsfmiddlewaretoken': ['gKeiX8qbR0ZJOvzPs84GRn9n4'], 'my_text':['sisi'] #}
{#        <button>Submit</button>#}
{#    </form>#}


{#    <form method="post">#}
{#        {% csrf_token %}  #}
{#        <label>My text is</label>#}
{#        <input name='my_text' maxlength="10" type='text'/>#}
{#        <button>Submit</button>#}
{#    </form>#}


    <form method="post">
        {% csrf_token %}
        {{ form.errors }}
        {{ form }}
        <button>Submit</button>
    </form>

</body>
</html>